DB_HOST=localhost
DB_PORT=5432
DB_NAME=pfa1
DB_USER=postgres
DB_PASSWORD=change_me
DATABASE_URL=postgresql://postgres:change_me@localhost:5432/pfa1

OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_LLM_MODEL=llama3:latest
OLLAMA_EMBEDDING_MODEL=embeddinggemma

PGVECTOR_DIMENSION=768
